html,body{
    font-size: 15px;
    width: 1280px;
}


body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
    margin: 0px;
    padding: 0px;
}

img{border: none;}

input,select,textarea{
    outline: none;
    border: none;
    background: none;
}

textarea{resize: none;}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.visible{
    display: block;
}

.hide{
    display: none;
}

.top{
  height:58px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;


}
.bottom
{
  width: 100%;
  height: calc(100% - 75px);
  display: flex;
  justify-content: space-between;
  margin-top: 33px;


}
body
{background-color:#8f8f8f}

