
.left {
  background-color: aqua;
  width: 295px;
}

/*Header*/
.leftHeader li {
  float: left;
}

.leftHeader a {
  display: inline-block;
  height: 30px;

}

.leftHeader {
  height: 58px;
  line-height: 58px;
  width: 500px;;
}

/*Content*/
.leftContent {
  height: 100%;

}

.panel {
  height: 89%;
  overflow-y: auto;
}
.classPanelItems
{
 height: 100%;
}

.new {
  height: 47px;
  line-height: 47px;
  display: flex;
  justify-content:space-between;
  margin-top: 17px;
}


.newButton {
  font-size: 15px;
  text-align: center;
  background-color: #5355c3;
  border-radius: 6px;
  color: white;
  height: 100%;
  width: 46%;

}

.base {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.layout {
  height: 305px;
  overflow: scroll;
}

.panelbox {
  width: 98px;
  height: 98px;

  text-align: center;

}

.panel-img {
  width: 30%;
  height: 30%;
  margin-top: 27px;
}
.panelbox-text
{
  font-size: 15px;
}
.panelFather
{
  display: flex;
}

.pub
{
  height: 49px;
  line-height: 49px;
  cursor:pointer;
vertical-align:middle;
}
.group
{
font-size: 15px;

}

.leftImg
{
  width: 20px;
  height: 20px;
  vertical-align:middle;

  margin-top: -4px;
   background-size: cover;
  display: inline-block;
}

.groupImg
{
  background-image: url("../img/folder_b.png");
  margin-right: 15px;
margin-left: 30px;
}
.memberImg
{
  background-image: url("../img/page_b.png");
  margin-right: 18px;
  margin-left: 68px;

}

.member
{
  font-size: 15px;
}

.active
{
  background-color: #5355c3;
  color: white;
}
.groupActive
{
  background-color: #5355c3;
  color: white;
}
.groupActive .groupImg
{
   background-image: url("../img/folder_w.png");
}
.active .memberImg
{
  background-image: url("../img/page_w.png");
}


